<div class="top-items">
    <% for(var i = albums.length - 1; i >= 0; i--){ var album = albums[i]; %>
        <div class="top-item">
            <p class="top-item-name">
                <strong><%= i + 1 %>. '<%= album.album %>' by <%= album.artist %></strong>
            </p>
            <p class="top-item-description">
                 <%= album.description %>
                 <% var releaseDate = new Date(album.release_date); %>
                 <% var releaseDateStr = (releaseDate.getMonth() + 1)+"/"+releaseDate.getDate()+"/"+releaseDate.getFullYear()  %>
                 <span class="top-album-date">Released: <%= releaseDateStr %></span>
            </p>
            <p class="top-item-image">
                 <img src="<%= album.image %>" width="200" />
            </p>
            <p class="top-item-extra">
            <% if(album.rdio){ %>
                <a href="<%= album.rdio %>">Listen on Rdio</a> | 
            <% } %>
            <% if(album.soundcloud){ %>
                <a href="<%= album.soundcloud %>">Listen on Soundcloud</a> | 
            <% } %>
            <% if(album.bandcamp){ %>
                <a href="<%= album.bandcamp %>">Listen on Bandcamp</a> | 
            <% } %>
            <% if(album.twitter){ %>
                <a href="https://twitter.com/<%= album.twitter %>">Follow on Twitter</a>
            <% } %>
            </p>
        </div>
    <% } %>
</div>
